.App {
  text-align: center;
  width: 560px;
  height: 100%;
  margin: auto;
  background-color: aquamarine;
}

.ant-row {
  width: 100%;
}

.timer-input-container {
  width: 100%;
}

.ant-col {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.timer-controls-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: 18px 0 18px 0;
}

.timer-control {
  margin-right: 5px;
}

.timer-name {
  text-align: start;
  min-width: 350px;
  padding-left: 5px;
}

/*
.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*/
